
@import "functions";
@import "mixins";
@import "variables";

body {
    h1 {
        content: "gruntlate";
    }<% if (featureModernizr) { %>
    // modernizr example
    html.csstransforms & {
        color: #0f0;
    }

    html.no-csstransforms & {
        color: #f00;
    }<% } %>
}
