<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ page.title }}</title>
    <script>document.documentElement.className="has-js"</script>
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="resources/css/main.css" />
    <script src="resources/js/main.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="main">
            <header id="hd">
                <h1><a href="index.html">{{ page.title }}</a></h1>
            </header>
            <div id="container">
                {% include main-navigation.html %}
                <div id="ct" role="main">
                    {{ content }}
                </div>
            </div>
        </div>
        <footer id="ft">
            <p>footer</p>
        </footer>
    </div>{% if site.devMode %}
    <script src="http://localhost:1337/livereload.js"></script>{% endif %}
</body>
</html>
